<h1> Extra T(show.html.erb)</h1>
<h1><%=@extra_ts.name %></h1>
<h1><%=@extra_ts.hair_color %></h1>
<h1><%=@extra_ts.eye_color %></h1>
<h1><%=@extra_ts.gender %></h1>
<h1><%=@extra_ts.alive %></h1>
<%= link_to 'Back', extra_ts_path %>






